extends layout

block content
    h1 User-created levels
    .btn-group(role="group")
        button.btn.btn-secondary(type="button")
            a(href="/list?offset=50") First
        button.btn.btn-secondary(type="button")
            a(href="/list?offset=" + older) Older
        button.btn.btn-secondary(type="button")
            a(href="/list?offset=" + newer) Newer
        button.btn.btn-secondary(type="button")
            a(href="/list?offset=" + seq) Last
    table#tbl
        tr
            th Id
            th Author
            th Title
            th Rows
            th Columns
        each level, i in levels
            tr
                td: a(href="/show/" + level._id) #{level._id}
                td= level.author
                td= level.title
                td= level.rows
                td= level.cols